<div id="top_visual">
<img src="/images/top_pic.jpg" alt="">
</div>
<div id="page-top-btn" class="page-top-btn">
  <p class="flash"><%= notice %><%= alert %></p>
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
