.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
  }
}
input[type="submit"].btn-block {
  margin: 15px 0;
}
.btn_area {
  width: 100%;
}
.btn_area .left_btn {
  float: left;
  margin-right: 20px;
}
.btn_area .right_btn {
  float: left;
}
.prof_cont {
  width: 150px;
  word-wrap: break-word;
  padding: 10px;
  float: left;
}

.prof_pic img {
  max-width: 120px;
  height: auto;
}

/* common style */
.center {
  text-align: center;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
