// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prof_cont {
  width: 150px;
  word-wrap: break-word;
  padding: 10px 10px 10px 0;
  float: left;
  li {
    list-style-type: none;
  }
}

@media screen and (max-width: 768px) {
   .prof_cont {
     width: 100%;
     padding: 10px 0;
     float: none;
     border-bottom: 1px solid #e4e4e4;
   }
}
